# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
.venv/

# macOS
.DS_Store

# VS Code
.vscode/

# Python env files
*.env

# CSV and outputs (keep if you want to track them, currently included)
# Solution.csv
# Solution_24_hours.csv
