# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
.venv/

# macOS
.DS_Store

# VS Code
.vscode/

# Python env files
*.env

# CSV and outputs
# It's usually better to avoid committing generated outputs. Uncomment to ignore them.
Solution.csv
Solution_24_hours.csv
